<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practise Room Sign-up</title>
  <link rel="icon" href="favicons/favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <h1 class="text-uppercase mb-3 font-weight-bold">Practice Room Sign-up <sup><small></small></sup></h1>
    <h3 class="text-uppercase mb-3 font-weight-bold"><%= date %> <small class="font-weight-light">(MM/DD/YYYY)</small> </h3>
    <p>The sign-up form opens every Monday to Thursday from <%= openHour %>:<%= openMin %> to <%= closeHour %>:<%= closeMin %>. To sign-up, click on an empty slot; for detailed instructions, visit the <a href="help">help</a> page.</p>
    <!-- <p style="overflow-wrap: break-word; word-wrap: break-word;" class="mb-4">Spot a bug? Please report any issue to <a href="https://github.com/leonluleonlu/PractiseRoomSignup/issues">github.com/leonluleonlu/PractiseRoomSignup/issues</a> or email 2220056@ncpachina.org</p>     -->

    <% if (announcement.length > 0) { %>
      <div class="alert alert-primary" role="alert">
        <h4 class="mt-2 font-weight-bold">Announcement</h4>
        <p class="mb-1" style="white-space: pre-wrap;"><%= announcement %></p>
      </div>
    <% } %>
    <div style="display: none;" class="alert alert-primary" role="alert" style="color: #963c96; background-color: #ffe7fa; border-color: #f2b8ff;">
      <h4 class="mt-2 font-weight-bold">Tri-M Music Peer Tutoring Programme</h4>
      <p class="mb-1" style="white-space: pre-wrap;">The Tri-M music tutoring programme is back! If you want any help singing or playing your instrument, sign up by clicking on the link below and Tri-M members will be happy to help you. You will find more information in the form itself.</p>
      <a class="btn btn-primary mt-2 mr-2" style="background-color: #c564c5; border-color: #af49af;" href="https://forms.office.com/Pages/ResponsePage.aspx?id=2T9-jRAWI0WnKJ8y1khfUrDKFbCtj61IkRajcO3M4S5UN1FFU0VWU0pJNzI0TUc1QlBCRVBESVRFTC4u">Sign up</a>
    </div>


    <table class="mt-4 mb-3 table-responsive-md table-hover" style="min-width: 100%;">
      <thead>
        <tr>
          <th rowspan="2" class="text-center">Room</th>
          <th colspan="3" class="text-center time-colomn">19:00-19:30</th>
          <th colspan="3" class="text-center time-colomn">19:30-20:00</th>
          <th colspan="3" class="text-center time-colomn">20:00-20:30</th>
          <th colspan="3" class="text-center time-colomn">20:30-21:00</th>
        </tr>
        <tr>
          <td class="border-light-right">Full Name</td>
          <td class="border-light-bothh">Grade</td>
          <td class="border-light-leftt">Notes</td>
          <td class="border-light-right">Full Name</td>
          <td class="border-light-bothh">Grade</td>
          <td class="border-light-leftt">Notes</td>
          <td class="border-light-right">Full Name</td>
          <td class="border-light-bothh">Grade</td>
          <td class="border-light-leftt">Notes</td>
          <td class="border-light-right">Full Name</td>
          <td class="border-light-bothh">Grade</td>
          <td class="border-light-leftt">Notes</td>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th class="text-center">MH102</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH102/T19001930'"><%= organisedData.MH102.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH102/T19001930'"><%= organisedData.MH102.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH102/T19001930'"><% if (organisedData.MH102.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH102/T19302000'"><%= organisedData.MH102.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH102/T19302000'"><%= organisedData.MH102.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH102/T19302000'"><% if (organisedData.MH102.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH102/T20002030'"><%= organisedData.MH102.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH102/T20002030'"><%= organisedData.MH102.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH102/T20002030'"><% if (organisedData.MH102.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH102/T20302100'"><%= organisedData.MH102.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH102/T20302100'"><%= organisedData.MH102.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH102/T20302100'"><% if (organisedData.MH102.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH103</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH103/T19001930'"><%= organisedData.MH103.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH103/T19001930'"><%= organisedData.MH103.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH103/T19001930'"><% if (organisedData.MH103.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH103/T19302000'"><%= organisedData.MH103.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH103/T19302000'"><%= organisedData.MH103.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH103/T19302000'"><% if (organisedData.MH103.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH103/T20002030'"><%= organisedData.MH103.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH103/T20002030'"><%= organisedData.MH103.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH103/T20002030'"><% if (organisedData.MH103.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH103/T20302100'"><%= organisedData.MH103.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH103/T20302100'"><%= organisedData.MH103.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH103/T20302100'"><% if (organisedData.MH103.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH104</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH104/T19001930'"><%= organisedData.MH104.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH104/T19001930'"><%= organisedData.MH104.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH104/T19001930'"><% if (organisedData.MH104.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH104/T19302000'"><%= organisedData.MH104.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH104/T19302000'"><%= organisedData.MH104.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH104/T19302000'"><% if (organisedData.MH104.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH104/T20002030'"><%= organisedData.MH104.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH104/T20002030'"><%= organisedData.MH104.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH104/T20002030'"><% if (organisedData.MH104.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH104/T20302100'"><%= organisedData.MH104.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH104/T20302100'"><%= organisedData.MH104.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH104/T20302100'"><% if (organisedData.MH104.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH105</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH105/T19001930'"><%= organisedData.MH105.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH105/T19001930'"><%= organisedData.MH105.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH105/T19001930'"><% if (organisedData.MH105.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH105/T19302000'"><%= organisedData.MH105.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH105/T19302000'"><%= organisedData.MH105.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH105/T19302000'"><% if (organisedData.MH105.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH105/T20002030'"><%= organisedData.MH105.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH105/T20002030'"><%= organisedData.MH105.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH105/T20002030'"><% if (organisedData.MH105.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH105/T20302100'"><%= organisedData.MH105.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH105/T20302100'"><%= organisedData.MH105.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH105/T20302100'"><% if (organisedData.MH105.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH106</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH106/T19001930'"><%= organisedData.MH106.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH106/T19001930'"><%= organisedData.MH106.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH106/T19001930'"><% if (organisedData.MH106.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH106/T19302000'"><%= organisedData.MH106.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH106/T19302000'"><%= organisedData.MH106.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH106/T19302000'"><% if (organisedData.MH106.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH106/T20002030'"><%= organisedData.MH106.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH106/T20002030'"><%= organisedData.MH106.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH106/T20002030'"><% if (organisedData.MH106.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH106/T20302100'"><%= organisedData.MH106.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH106/T20302100'"><%= organisedData.MH106.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH106/T20302100'"><% if (organisedData.MH106.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr style="display:none">
          <th class="text-center">MH107</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH107/T19001930'"><%= organisedData.MH107.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH107/T19001930'"><%= organisedData.MH107.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH107/T19001930'"><% if (organisedData.MH107.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH107/T19302000'"><%= organisedData.MH107.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH107/T19302000'"><%= organisedData.MH107.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH107/T19302000'"><% if (organisedData.MH107.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH107/T20002030'"><%= organisedData.MH107.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH107/T20002030'"><%= organisedData.MH107.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH107/T20002030'"><% if (organisedData.MH107.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH107/T20302100'"><%= organisedData.MH107.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH107/T20302100'"><%= organisedData.MH107.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH107/T20302100'"><% if (organisedData.MH107.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH109</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH109/T19001930'"><%= organisedData.MH109.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH109/T19001930'"><%= organisedData.MH109.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH109/T19001930'"><% if (organisedData.MH109.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH109/T19302000'"><%= organisedData.MH109.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH109/T19302000'"><%= organisedData.MH109.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH109/T19302000'"><% if (organisedData.MH109.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH109/T20002030'"><%= organisedData.MH109.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH109/T20002030'"><%= organisedData.MH109.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH109/T20002030'"><% if (organisedData.MH109.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH109/T20302100'"><%= organisedData.MH109.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH109/T20302100'"><%= organisedData.MH109.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH109/T20302100'"><% if (organisedData.MH109.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH110</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH110/T19001930'"><%= organisedData.MH110.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH110/T19001930'"><%= organisedData.MH110.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH110/T19001930'"><% if (organisedData.MH110.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH110/T19302000'"><%= organisedData.MH110.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH110/T19302000'"><%= organisedData.MH110.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH110/T19302000'"><% if (organisedData.MH110.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH110/T20002030'"><%= organisedData.MH110.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH110/T20002030'"><%= organisedData.MH110.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH110/T20002030'"><% if (organisedData.MH110.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH110/T20302100'"><%= organisedData.MH110.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH110/T20302100'"><%= organisedData.MH110.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH110/T20302100'"><% if (organisedData.MH110.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH117</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH117/T19001930'"><%= organisedData.MH117.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH117/T19001930'"><%= organisedData.MH117.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH117/T19001930'"><% if (organisedData.MH117.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH117/T19302000'"><%= organisedData.MH117.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH117/T19302000'"><%= organisedData.MH117.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH117/T19302000'"><% if (organisedData.MH117.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH117/T20002030'"><%= organisedData.MH117.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH117/T20002030'"><%= organisedData.MH117.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH117/T20002030'"><% if (organisedData.MH117.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH117/T20302100'"><%= organisedData.MH117.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH117/T20302100'"><%= organisedData.MH117.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH117/T20302100'"><% if (organisedData.MH117.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH120</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH120/T19001930'"><%= organisedData.MH120.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH120/T19001930'"><%= organisedData.MH120.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH120/T19001930'"><% if (organisedData.MH120.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH120/T19302000'"><%= organisedData.MH120.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH120/T19302000'"><%= organisedData.MH120.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH120/T19302000'"><% if (organisedData.MH120.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH120/T20002030'"><%= organisedData.MH120.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH120/T20002030'"><%= organisedData.MH120.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH120/T20002030'"><% if (organisedData.MH120.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH120/T20302100'"><%= organisedData.MH120.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH120/T20302100'"><%= organisedData.MH120.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH120/T20302100'"><% if (organisedData.MH120.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH121</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH121/T19001930'"><%= organisedData.MH121.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH121/T19001930'"><%= organisedData.MH121.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH121/T19001930'"><% if (organisedData.MH121.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH121/T19302000'"><%= organisedData.MH121.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH121/T19302000'"><%= organisedData.MH121.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH121/T19302000'"><% if (organisedData.MH121.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH121/T20002030'"><%= organisedData.MH121.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH121/T20002030'"><%= organisedData.MH121.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH121/T20002030'"><% if (organisedData.MH121.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH121/T20302100'"><%= organisedData.MH121.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH121/T20302100'"><%= organisedData.MH121.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH121/T20302100'"><% if (organisedData.MH121.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th colspan="13" class="text-center">PERCUSSIONISTS ONLY</th>
        </tr>
        
        <tr>
          <th class="text-center">MH113</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH113/T19001930'"><%= organisedData.MH113.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH113/T19001930'"><%= organisedData.MH113.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH113/T19001930'"><% if (organisedData.MH113.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH113/T19302000'"><%= organisedData.MH113.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH113/T19302000'"><%= organisedData.MH113.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH113/T19302000'"><% if (organisedData.MH113.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH113/T20002030'"><%= organisedData.MH113.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH113/T20002030'"><%= organisedData.MH113.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH113/T20002030'"><% if (organisedData.MH113.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH113/T20302100'"><%= organisedData.MH113.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH113/T20302100'"><%= organisedData.MH113.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH113/T20302100'"><% if (organisedData.MH113.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH115</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH115/T19001930'"><%= organisedData.MH115.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH115/T19001930'"><%= organisedData.MH115.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH115/T19001930'"><% if (organisedData.MH115.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH115/T19302000'"><%= organisedData.MH115.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH115/T19302000'"><%= organisedData.MH115.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH115/T19302000'"><% if (organisedData.MH115.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH115/T20002030'"><%= organisedData.MH115.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH115/T20002030'"><%= organisedData.MH115.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH115/T20002030'"><% if (organisedData.MH115.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH115/T20302100'"><%= organisedData.MH115.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH115/T20302100'"><%= organisedData.MH115.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH115/T20302100'"><% if (organisedData.MH115.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th colspan="13" class="text-center">SENIORS ONLY</th>
        </tr>

        <tr>
          <th class="text-center">MH111</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH111/T19001930'"><%= organisedData.MH111.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH111/T19001930'"><%= organisedData.MH111.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH111/T19001930'"><% if (organisedData.MH111.T19001930.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH111/T19302000'"><%= organisedData.MH111.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH111/T19302000'"><%= organisedData.MH111.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH111/T19302000'"><% if (organisedData.MH111.T19302000.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH111/T20002030'"><%= organisedData.MH111.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH111/T20002030'"><%= organisedData.MH111.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH111/T20002030'"><% if (organisedData.MH111.T20002030.noteStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH111/T20302100'"><%= organisedData.MH111.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH111/T20302100'"><%= organisedData.MH111.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer text-danger font-weight-bold" onclick="window.location.href = 'MH111/T20302100'"><% if (organisedData.MH111.T20302100.noteStatus) { %> Yes <% } %></td>
        </tr>

      </tbody>
    </table>

    <a class="btn btn-primary mt-2 mr-2" href="cancel">Cancel Request</a>
    <a class="btn btn-primary mt-2 mr-2" href="help">Help</a>
    <!-- <a class="btn btn-primary mt-2 mr-2" href="issues">Open and Closed Issues</a> -->
    <a class="btn btn-primary mt-2 mr-2" href="analytics">History and Analytics</a>
    <a class="btn btn-primary mt-2 mr-2" href="admin">Admin Control Panel</a>

    <!-- <h3 class="mt-5 text-muted">Debug info:</h3>
    <p><small class="text-muted">from index.ejs</small></p>
    <p><small class="text-muted">Data = <%= JSON.stringify(organisedData) %></small></p>
    <p><small class="text-muted">Data = <%= openHour %></small></p>
    <p><small class="text-muted">Data = <%= openMin %></small></p>
    <p><small class="text-muted">Data = <%= closeHour %></small></p>
    <p><small class="text-muted">Data = <%= closeMin %></small></p> -->


  </div>



  <div class="credit-div">
    <p class="text-left credit-text float-left" style="width: 100%;">Algorithm: v1.0; Server code: v1.3; Website: v2.1; initiated by StuGo; designed and programmed by Leon L; A TST project</p> 
  </div>


  <!-- JQuery -->
  <!-- <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
  <!-- <script src="/js/main.js"></script> -->
</body>
</html>