<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practise Room Sign-up</title>
  <link rel="icon" href="favicons/favicon.ico">
  <link rel="stylesheet" href="css/bootstrap.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container">
    <h1 class="mt-4">Practise Room Sign-up <sup>beta</sup></h1>
    <p>Sign-up forms open every weekday from <%= openHour %>:<%= openMin %> to <%= closeHour %>:<%= closeMin %>, click on an empty slot to sign-up. For further instruction, visit the <a href="help">help</a> page.</p>
    <p>Spot a bug? Please report any issue to <a href="https://github.com/leonluleonlu/PractiseRoomSignup/issues">github.com/leonluleonlu/PractiseRoomSignup/issues</a> or email 2220056@ncpachina.org</p>
    <% if (announcement.length > 0) { %>
      <h4 class="mt-4">Announcement:</h4>
      <p style="white-space: pre-wrap;"><%= announcement %></p>
    <% } %>

    <table class="mt-4 table-responsive-xl table-hover" style="min-width: 100%;">
      <thead>
        <tr>
          <th rowspan="2" class="text-center">Room</th>
          <th colspan="3" class="text-center" style="min-width: 250px;">19:00-19:30</th>
          <th colspan="3" class="text-center" style="min-width: 250px;">19:30-20:00</th>
          <th colspan="3" class="text-center" style="min-width: 250px;">20:00-20:30</th>
          <th colspan="3" class="text-center" style="min-width: 250px;">20:30-21:00</th>
        </tr>
        <tr>
          <td class="border-light-right">Full Name</td>
          <td class="border-light-bothh">Grade</td>
          <td class="border-light-leftt">Remark</td>
          <td class="border-light-right">Full Name</td>
          <td class="border-light-bothh">Grade</td>
          <td class="border-light-leftt">Remark</td>
          <td class="border-light-right">Full Name</td>
          <td class="border-light-bothh">Grade</td>
          <td class="border-light-leftt">Remark</td>
          <td class="border-light-right">Full Name</td>
          <td class="border-light-bothh">Grade</td>
          <td class="border-light-leftt">Remark</td>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th class="text-center">MH102</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH102/T19001930'"><%= organisedData.MH102.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH102/T19001930'"><%= organisedData.MH102.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH102/T19001930'"><% if (organisedData.MH102.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH102/T19302000'"><%= organisedData.MH102.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH102/T19302000'"><%= organisedData.MH102.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH102/T19302000'"><% if (organisedData.MH102.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH102/T20002030'"><%= organisedData.MH102.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH102/T20002030'"><%= organisedData.MH102.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH102/T20002030'"><% if (organisedData.MH102.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH102/T20302100'"><%= organisedData.MH102.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH102/T20302100'"><%= organisedData.MH102.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH102/T20302100'"><% if (organisedData.MH102.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH103</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH103/T19001930'"><%= organisedData.MH103.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH103/T19001930'"><%= organisedData.MH103.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH103/T19001930'"><% if (organisedData.MH103.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH103/T19302000'"><%= organisedData.MH103.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH103/T19302000'"><%= organisedData.MH103.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH103/T19302000'"><% if (organisedData.MH103.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH103/T20002030'"><%= organisedData.MH103.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH103/T20002030'"><%= organisedData.MH103.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH103/T20002030'"><% if (organisedData.MH103.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH103/T20302100'"><%= organisedData.MH103.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH103/T20302100'"><%= organisedData.MH103.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH103/T20302100'"><% if (organisedData.MH103.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH104</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH104/T19001930'"><%= organisedData.MH104.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH104/T19001930'"><%= organisedData.MH104.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH104/T19001930'"><% if (organisedData.MH104.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH104/T19302000'"><%= organisedData.MH104.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH104/T19302000'"><%= organisedData.MH104.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH104/T19302000'"><% if (organisedData.MH104.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH104/T20002030'"><%= organisedData.MH104.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH104/T20002030'"><%= organisedData.MH104.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH104/T20002030'"><% if (organisedData.MH104.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH104/T20302100'"><%= organisedData.MH104.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH104/T20302100'"><%= organisedData.MH104.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH104/T20302100'"><% if (organisedData.MH104.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH105</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH105/T19001930'"><%= organisedData.MH105.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH105/T19001930'"><%= organisedData.MH105.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH105/T19001930'"><% if (organisedData.MH105.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH105/T19302000'"><%= organisedData.MH105.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH105/T19302000'"><%= organisedData.MH105.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH105/T19302000'"><% if (organisedData.MH105.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH105/T20002030'"><%= organisedData.MH105.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH105/T20002030'"><%= organisedData.MH105.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH105/T20002030'"><% if (organisedData.MH105.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH105/T20302100'"><%= organisedData.MH105.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH105/T20302100'"><%= organisedData.MH105.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH105/T20302100'"><% if (organisedData.MH105.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH106</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH106/T19001930'"><%= organisedData.MH106.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH106/T19001930'"><%= organisedData.MH106.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH106/T19001930'"><% if (organisedData.MH106.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH106/T19302000'"><%= organisedData.MH106.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH106/T19302000'"><%= organisedData.MH106.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH106/T19302000'"><% if (organisedData.MH106.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH106/T20002030'"><%= organisedData.MH106.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH106/T20002030'"><%= organisedData.MH106.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH106/T20002030'"><% if (organisedData.MH106.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH106/T20302100'"><%= organisedData.MH106.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH106/T20302100'"><%= organisedData.MH106.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH106/T20302100'"><% if (organisedData.MH106.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH107</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH107/T19001930'"><%= organisedData.MH107.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH107/T19001930'"><%= organisedData.MH107.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH107/T19001930'"><% if (organisedData.MH107.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH107/T19302000'"><%= organisedData.MH107.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH107/T19302000'"><%= organisedData.MH107.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH107/T19302000'"><% if (organisedData.MH107.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH107/T20002030'"><%= organisedData.MH107.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH107/T20002030'"><%= organisedData.MH107.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH107/T20002030'"><% if (organisedData.MH107.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH107/T20302100'"><%= organisedData.MH107.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH107/T20302100'"><%= organisedData.MH107.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH107/T20302100'"><% if (organisedData.MH107.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH109</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH109/T19001930'"><%= organisedData.MH109.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH109/T19001930'"><%= organisedData.MH109.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH109/T19001930'"><% if (organisedData.MH109.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH109/T19302000'"><%= organisedData.MH109.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH109/T19302000'"><%= organisedData.MH109.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH109/T19302000'"><% if (organisedData.MH109.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH109/T20002030'"><%= organisedData.MH109.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH109/T20002030'"><%= organisedData.MH109.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH109/T20002030'"><% if (organisedData.MH109.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH109/T20302100'"><%= organisedData.MH109.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH109/T20302100'"><%= organisedData.MH109.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH109/T20302100'"><% if (organisedData.MH109.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH110</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH110/T19001930'"><%= organisedData.MH110.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH110/T19001930'"><%= organisedData.MH110.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH110/T19001930'"><% if (organisedData.MH110.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH110/T19302000'"><%= organisedData.MH110.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH110/T19302000'"><%= organisedData.MH110.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH110/T19302000'"><% if (organisedData.MH110.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH110/T20002030'"><%= organisedData.MH110.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH110/T20002030'"><%= organisedData.MH110.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH110/T20002030'"><% if (organisedData.MH110.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH110/T20302100'"><%= organisedData.MH110.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH110/T20302100'"><%= organisedData.MH110.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH110/T20302100'"><% if (organisedData.MH110.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH117</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH117/T19001930'"><%= organisedData.MH117.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH117/T19001930'"><%= organisedData.MH117.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH117/T19001930'"><% if (organisedData.MH117.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH117/T19302000'"><%= organisedData.MH117.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH117/T19302000'"><%= organisedData.MH117.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH117/T19302000'"><% if (organisedData.MH117.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH117/T20002030'"><%= organisedData.MH117.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH117/T20002030'"><%= organisedData.MH117.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH117/T20002030'"><% if (organisedData.MH117.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH117/T20302100'"><%= organisedData.MH117.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH117/T20302100'"><%= organisedData.MH117.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH117/T20302100'"><% if (organisedData.MH117.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH118</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH118/T19001930'"><%= organisedData.MH118.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH118/T19001930'"><%= organisedData.MH118.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH118/T19001930'"><% if (organisedData.MH118.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH118/T19302000'"><%= organisedData.MH118.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH118/T19302000'"><%= organisedData.MH118.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH118/T19302000'"><% if (organisedData.MH118.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH118/T20002030'"><%= organisedData.MH118.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH118/T20002030'"><%= organisedData.MH118.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH118/T20002030'"><% if (organisedData.MH118.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH118/T20302100'"><%= organisedData.MH118.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH118/T20302100'"><%= organisedData.MH118.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH118/T20302100'"><% if (organisedData.MH118.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH119</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH119/T19001930'"><%= organisedData.MH119.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH119/T19001930'"><%= organisedData.MH119.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH119/T19001930'"><% if (organisedData.MH119.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH119/T19302000'"><%= organisedData.MH119.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH119/T19302000'"><%= organisedData.MH119.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH119/T19302000'"><% if (organisedData.MH119.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH119/T20002030'"><%= organisedData.MH119.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH119/T20002030'"><%= organisedData.MH119.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH119/T20002030'"><% if (organisedData.MH119.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH119/T20302100'"><%= organisedData.MH119.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH119/T20302100'"><%= organisedData.MH119.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH119/T20302100'"><% if (organisedData.MH119.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th colspan="13" class="text-center">PERCUSSIONISTS ONLY</th>
        </tr>
        
        <tr>
          <th class="text-center">MH113</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH113/T19001930'"><%= organisedData.MH113.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH113/T19001930'"><%= organisedData.MH113.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH113/T19001930'"><% if (organisedData.MH113.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH113/T19302000'"><%= organisedData.MH113.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH113/T19302000'"><%= organisedData.MH113.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH113/T19302000'"><% if (organisedData.MH113.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH113/T20002030'"><%= organisedData.MH113.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH113/T20002030'"><%= organisedData.MH113.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH113/T20002030'"><% if (organisedData.MH113.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH113/T20302100'"><%= organisedData.MH113.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH113/T20302100'"><%= organisedData.MH113.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH113/T20302100'"><% if (organisedData.MH113.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th class="text-center">MH115</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH115/T19001930'"><%= organisedData.MH115.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH115/T19001930'"><%= organisedData.MH115.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH115/T19001930'"><% if (organisedData.MH115.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH115/T19302000'"><%= organisedData.MH115.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH115/T19302000'"><%= organisedData.MH115.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH115/T19302000'"><% if (organisedData.MH115.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH115/T20002030'"><%= organisedData.MH115.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH115/T20002030'"><%= organisedData.MH115.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH115/T20002030'"><% if (organisedData.MH115.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH115/T20302100'"><%= organisedData.MH115.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH115/T20302100'"><%= organisedData.MH115.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH115/T20302100'"><% if (organisedData.MH115.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>
        
        <tr>
          <th colspan="13" class="text-center">SENIORS ONLY</th>
        </tr>

        <tr>
          <th class="text-center">MH111</th>

          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH111/T19001930'"><%= organisedData.MH111.T19001930.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH111/T19001930'"><%= organisedData.MH111.T19001930.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH111/T19001930'"><% if (organisedData.MH111.T19001930.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH111/T19302000'"><%= organisedData.MH111.T19302000.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH111/T19302000'"><%= organisedData.MH111.T19302000.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH111/T19302000'"><% if (organisedData.MH111.T19302000.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH111/T20002030'"><%= organisedData.MH111.T20002030.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH111/T20002030'"><%= organisedData.MH111.T20002030.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH111/T20002030'"><% if (organisedData.MH111.T20002030.remarkStatus) { %> Yes <% } %></td>
          <td class="border-light-right cursor-pointer" onclick="window.location.href = 'MH111/T20302100'"><%= organisedData.MH111.T20302100.fullName %></td>
          <td class="border-light-bothh cursor-pointer" onclick="window.location.href = 'MH111/T20302100'"><%= organisedData.MH111.T20302100.grade %></td>
          <td class="border-light-leftt cursor-pointer" onclick="window.location.href = 'MH111/T20302100'"><% if (organisedData.MH111.T20302100.remarkStatus) { %> Yes <% } %></td>
        </tr>

      </tbody>
    </table>

    <a class="btn btn-primary mt-5" href="cancel">Cancel Request</a>
    <a class="btn btn-primary mt-5" href="help">Help</a>
    <a class="btn btn-primary mt-5" href="issues">Open Issues</a>
    <a class="btn btn-primary mt-5" href="admin">Admin</a>

    <!-- <h3 class="mt-5 text-muted">Debug info:</h3>
    <p><small class="text-muted">from index.ejs</small></p>
    <p><small class="text-muted">Data = <%= JSON.stringify(organisedData) %></small></p>
    <p><small class="text-muted">Data = <%= openHour %></small></p>
    <p><small class="text-muted">Data = <%= openMin %></small></p>
    <p><small class="text-muted">Data = <%= closeHour %></small></p>
    <p><small class="text-muted">Data = <%= closeMin %></small></p> -->


  </div>


  <!-- JQuery -->
  <!-- <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script> -->
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="/js/bootstrap.js"></script> -->
  <!-- <script src="/js/main.js"></script> -->
</body>
</html>