<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Halloween Signup</title>
  <link rel="icon" href="/favicons/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/mdb.css">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>
<body>

  <div id="particles-js"></div>


  <div id="particles-js2"></div>

  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <!--Contact div-->
    <div class="row py-5">
      <!--Entire content colomn-->
      <div class="col-md-12">
        <!--Main card-->
        <div class="card z-depth-5 text-halloween" id="main-card-container">
          <div class="card-body pb-2">
            <!-- Content -->
            <section class="my-3 mx-3">
              <!-- Heading -->
              <h1 class="h1-responsive font-weight-bold text-center mt-2 mb-3 text-light">SIGN-UP SUCCESSFUL</h1>
              <p>Here's your signup information. Please contact stugo@ncpachina.org if you have any question.</p>
              <!-- Everything else -->
              <div class="row">
                
                <div class="col-12 text-center">
                  <h4><strong>First Name:</strong>  <%= firstName %></h4>
                  <h4><strong>Last Name:</strong>  <%= lastName %></h4>
                  <h4><strong>Student ID:</strong>  <%= studentID %></h4>
                  <h4><strong>Year:</strong>  <%= year %></h4>
                  <h4><strong>Time:</strong>  <%= time %></h4>
                </div>

                <div class="col-12 text-center">
                  <a class="mt-3 btn btn-outline-white waves-effect waves-light" href="/">home</a>
                </div>


              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <script src="/js/particles.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
