<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practise Room Sign-up</title>
  <link rel="icon" href="/favicons/Image002.png">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">
    <h1 class="mt-4">Practise Room Sign-up <sup>beta</sup></h1>
    <h3 class="mt-4">Signup form</h3>

    <form method="POST" action="/signup-req">
      <div class="form-group d-none">
        <input type="text" id="date" name="date" value="<%= date %>" />
      </div>

      <div class="form-group">
        <input type="text" required="required" id="dateDummy" name="dateDummy" placeholder="<%= date %>" readonly/>
        <label for="input" class="control-label">Date</label><i class="bar"></i>
      </div>

      <div class="form-group d-none">
        <input type="text" id="room" name="room" value="<%= room %>" />
      </div>

      <div class="form-group">
        <input type="text" required="required" id="roomDummy" name="roomDummy" placeholder="<%= room %>" readonly/>
        <label for="input" class="control-label">Room</label><i class="bar"></i>
      </div>

      <div class="form-group d-none">
        <input type="text" id="time" name="time" value="<%= time %>" />
      </div>

      <div class="form-group">
        <input type="text" required="required" id="timeDummy" name="timeDummy" placeholder="<%= time.substr(1, 2) + ":" + time.substr(3, 2) + "-" + time.substr(5, 2) + ":" + time.substr(7, 2) %>" readonly/>
        <label for="input" class="control-label">Time</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <input type="text" required="required" id="fullName" name="fullName"/>
        <label for="input" class="control-label">Full Name</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <span class="mr-3">Grade: </span>
        <label class="pure-material-radio mr-3">
          <input type="radio" name="grade" required="required" value="9">
          <span>9</span>
        </label>
        <label class="pure-material-radio mr-3">
          <input type="radio" name="grade" required="required" value="10">
          <span>10</span>
        </label>
        <label class="pure-material-radio mr-3">
          <input type="radio" name="grade" required="required" value="11">
          <span>11</span>
        </label>
        <label class="pure-material-radio mr-3">
          <input type="radio" name="grade" required="required" value="12">
          <span>12</span>
        </label>
      </div>

      <div class="form-group">
        <input type="text" required="required" id="studentID" name="studentID"/>
        <label for="input" class="control-label">Student ID</label><i class="bar"></i>
      </div>

      <div class="form-group">
        <input type="password" required="required" id="password" name="password"/>
        <label for="input" class="control-label">Password</label><i class="bar"></i>
      </div>

      <div class="checkbox">
        <label class="pure-material-checkbox">
          <input type="checkbox" name="ensembleStatus">
          <span>Small Ensemble (If checked, please type the names of all the people comming to this practise session in the remark text area)</span>
        </label>
      </div>

      <div class="form-group">
        <input type="text" id="remark" name="remark" required/>
        <label for="input" class="control-label">Remark (Optional)</label><i class="bar"></i>
      </div>

      <!-- <div class="form-group" id="form-group-not-required">
        <textarea id="remark" id="remark" name="remark"></textarea>
        <label for="textarea" class="control-label">Remark</label><i class="bar"></i>
      </div> -->

      <a class="btn btn-primary" href="/">Back</a>
      <a class="btn btn-primary" href="/help">Help</a>
      <input class="btn btn-primary" onclick="document.getElementById('remark').required = false" type="submit"></input>

    </form>

    <h3 class="mt-5">Debug info:</h3>
    <p><small class="text-muted">from signup.ejs</small></p>
    <p><small>Data = <%= time %></small></p>
    <p><small>Data = <%= room %></small></p>
    <p><small>Data = <%= date %></small></p>
    <p><small>Data = <%= JSON.stringify(organisedData) %></small></p>


  </div>

  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  <script src="/js/main.js"></script>
  <script>
  
  </script>
</body>
</html>