<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Halloween Signup</title>
  <link rel="icon" href="/favicons/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/mdb.css">
  <link rel="stylesheet" href="/fontawesome/css/all.css">
</head>
<body>

  <div id="particles-js"></div>


  <div id="particles-js2"></div>

  <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <!--Contact div-->
    <div class="row py-5">
      <!--Entire content colomn-->
      <div class="col-md-12">
        <!--Main card-->
        <div class="card z-depth-5 text-halloween" id="main-card-container">
          <div class="card-body pb-2">
            <!-- Content -->
            <section class="my-3 mx-3">
              <!-- Heading -->
              <h1 class="h1-responsive font-weight-bold text-center mt-2 mb-3 text-light">SIGN-UP FORM</h1>
              <!-- Everything else -->
              <div class="row">
                
                <form class="col-12" autocomplete="off" action="/signup" method="POST" class="md-form">
                  <div class="row">

                    <!-- First Name -->
                    <div class="col-md-6">
                      <div class="md-form mb-0">
                        <input type="text" id="firstName" class="form-control" name="firstName">
                        <label for="firstName" class="">Your first name</label>
                      </div>
                    </div>

                    <!-- Last Name -->
                    <div class="col-md-6">
                      <div class="md-form mb-0">
                        <input type="text" id="lastName" class="form-control" name="lastName">
                        <label for="lastName" class="">Your last name</label>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <!-- Student ID -->
                    <div class="col-md-12">
                      <div class="md-form mb-0">
                        <input type="text" id="studentID" class="form-control" name="studentID">
                        <label for="studentID" class="">Your student ID</label>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-12">
                      <div class="md-form mb-0">
                        <select class="mdb-select" name="year" id="year">
                          <option selected disabled value="unspecified">Select your year level...</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-12">
                      <div class="md-form mb-0">
                        <select class="mdb-select" name="time" id="time">
                          <option value="unspecified" <% if (timeSelect == 0) { %>selected <%}%> disabled>Select your desired time</option>
                          <option value="19:00-19:10" <% if (timeSelect == 1) { %>selected <%}%> <% if (T1Count >= maxPopulation) { %> disabled <%}%>> 19:00-19:10 (<%= T1Count %>/<%= maxPopulation %>)</option>
                          <option value="19:10-19:20" <% if (timeSelect == 2) { %>selected <%}%> <% if (T2Count >= maxPopulation) { %> disabled <%}%>> 19:10-19:20 (<%= T2Count %>/<%= maxPopulation %>)</option>
                          <option value="19:20-19:30" <% if (timeSelect == 3) { %>selected <%}%> <% if (T3Count >= maxPopulation) { %> disabled <%}%>> 19:20-19:30 (<%= T3Count %>/<%= maxPopulation %>)</option>
                          <option value="19:35-19:45" <% if (timeSelect == 4) { %>selected <%}%> <% if (T4Count >= maxPopulation) { %> disabled <%}%>> 19:35-19:45 (<%= T4Count %>/<%= maxPopulation %>)</option>
                          <option value="19:45-19:55" <% if (timeSelect == 5) { %>selected <%}%> <% if (T5Count >= maxPopulation) { %> disabled <%}%>> 19:45-19:55 (<%= T5Count %>/<%= maxPopulation %>)</option>
                          <option value="19:55-20:05" <% if (timeSelect == 6) { %>selected <%}%> <% if (T6Count >= maxPopulation) { %> disabled <%}%>> 19:55-20:05 (<%= T6Count %>/<%= maxPopulation %>)</option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="form-check orange-checkbox mb-3 mt-3 ml-0 pl-2-half pr-2">
                      <input type="checkbox" class="form-check-input filled-in" name="agree" id="agree" value="agree" required>
                      <label class="form-check-label" for="agree" style="max-width: 600px;">I have checked and confirmed all the information I entered is accurate. You are not allowed to sign-up multiple times or sign-up for another person, otherwise your name will get taken from the list and you will not be allowed to participate in the event.</label>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-6">
                      <a class="btn btn-outline-white waves-effect waves-light ml-0" href="/">Cancel</a>
                    </div>
                    <div class="col-6 text-right">
                      <input class="btn btn-outline-orange waves-effect waves-light mr-0" type="submit"></input>
                    </div>

                  </div>

                </form>
                
                <!-- <form action="/signup" method="POST">
                  <label for="time">Time</label>
                  <select name="time" id="time">
                      <option value="unspecified" <% if (timeSelect == 0) { %>selected <%}%> disabled>Select your desired time</option>
                      <option value="19:00-19:10" <% if (timeSelect == 1) { %>selected <%}%> <% if (T1Count >= maxPopulation) { %> disabled <%}%>> 19:00-19:10 (<%= T1Count %>/<%= maxPopulation %>)</option>
                      <option value="19:10-19:20" <% if (timeSelect == 2) { %>selected <%}%> <% if (T2Count >= maxPopulation) { %> disabled <%}%>> 19:10-19:20 (<%= T2Count %>/<%= maxPopulation %>)</option>
                      <option value="19:20-19:30" <% if (timeSelect == 3) { %>selected <%}%> <% if (T3Count >= maxPopulation) { %> disabled <%}%>> 19:20-19:30 (<%= T3Count %>/<%= maxPopulation %>)</option>
                      <option value="19:35-19:45" <% if (timeSelect == 4) { %>selected <%}%> <% if (T4Count >= maxPopulation) { %> disabled <%}%>> 19:35-19:45 (<%= T4Count %>/<%= maxPopulation %>)</option>
                      <option value="19:45-19:55" <% if (timeSelect == 5) { %>selected <%}%> <% if (T5Count >= maxPopulation) { %> disabled <%}%>> 19:45-19:55 (<%= T5Count %>/<%= maxPopulation %>)</option>
                      <option value="19:55-20:05" <% if (timeSelect == 6) { %>selected <%}%> <% if (T6Count >= maxPopulation) { %> disabled <%}%>> 19:55-20:05 (<%= T6Count %>/<%= maxPopulation %>)</option>
                  </select>
                  <br>
                  <label for="firstName">First Name</label>
                  <input type="text" name="firstName" id="firstName" placeholder="your first name">
                  <br>
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" id="lastName" placeholder="your last name">
                  <br>
                  <label for="year">Year</label>
                  <select name="year" id="year">
                      <option selected disabled value="unspecified">Select your year level...</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                  </select>
                  <br>
                  <label for="studentID">Student ID</label>
                  <input type="text" name="studentID" id="studentID" placeholder="your student ID">
                  <br>
                  <input type="checkbox" name="agree" id="agree" value="agree" required>By clicking the submit button, I have checked and confirmed that I filled out all necessary information accurately, paied by scanning the QR code, and included my full name and student ID in the payment remark. If you did not pay or paied without providing your information, your name will get removed from the list by StuGo.
                  <br>
                  <input type="submit">
                </form> -->

              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <script src="/js/particles.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>